// ------------------------------------------------------------
// FONTS
// ------------------------------------------------------------

// @font-face {
//   font-family: 'myfont';
//   src: url('#{$base-fonts}/myfont.eot');
//   src: url('#{$base-fonts}/myfont.eot?#iefix') format('embedded-opentype'),
//        url('#{$base-fonts}/myfont.woff') format('woff'),
//        url('#{$base-fonts}/myfont.ttf') format('truetype'),
//        url('#{$base-fonts}/myfont.svg#04b27ca05cc09e86c39c371295e381ad') format('svg');
//   font-style: normal;
//   font-weight: $regular;
// }