// ------------------------------------------------------------
// IMAGES
// ------------------------------------------------------------

/* -----
Global
----- */
* {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* -----
Images
----- */
img {
  display: block;
	pointer-events: none;
}

.img, 
.img img { 
  position: relative;
  transform-origin: center center;  
}

.img { 

  img {
    @include size(100% auto);
    opacity: 0;
    transform-origin: center center;
    transition: opacity $transition-image-duration, transform $transition-image-duration;
  }

  &.is-loaded img { opacity: 1; }
}