// ------------------------------------------------------------
// TYPOGRAPHY
// ------------------------------------------------------------

html {
  font-family: $base-font;
  color: $base-font-color;
  font-size: $px-base;
  font-weight: $regular;

  @include mobile { font-size: $px-mobile; }
  @include tablet { font-size: $px-tablet; }
  @include desktop { font-size: $px-base; }
}


/* -----
Global
----- */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  margin-bottom: 1.2em;
  line-height: 1.2;
}

a {
  text-decoration: none;
  &:focus { outline: none; }
}

ul {
  list-style-type: none;
  margin: 0;
}

/* -----
Separator
----- */


/* -----
Headings
----- */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}